extends layout.pug

block content
  h1 Editar Paciente

  form(action=`/secretaria/pacientes/${paciente.idPaciente}` method="POST")

    label Nombre:
    input(type="text" name="nombre" value=paciente.nombre required)

    label Fecha de Nacimiento:
    input(type="date" name="fechaNacimiento" value=paciente.fechaNacimiento)


    label DNI:
    input(type="text" name="dni" value=paciente.dni required)

    label Dirección:
    input(type="text" name="direccion" value=paciente.direccion required)

    label Teléfono:
    input(type="text" name="telefono" value=paciente.telefono required)

    button(type="submit") Guardar
