extends layout

block content
  h1 Listado de Médicos

  table.table.table-striped
    thead
      tr
        th Nombre
        th Especialidad
        th Contacto
        th Acciones
    tbody
      each medico in medicos
        tr
          td= medico.nombre
          td= medico.especialidad
          td
            if medico.telefono !== 'Sin teléfono'
              a(href=`tel:${medico.telefono}`) #{medico.telefono}
            br
            if medico.email !== 'Sin email'
              a(href=`mailto:${medico.email}`) #{medico.email}
          td
            a.btn.btn-info(href=`/medicos/${medico.idMedico}/agenda`) Ver Agenda
