extends layout 

block content
  h2 Nueva Cita

  script.
    window.userRole = "#{user.role}"

  script#medicosData(type="application/json") !{JSON.stringify(medicos)}

  form(action="/citas/new" method="POST")
    input(type="hidden" name="estado" value=estado)
    input(type="hidden" name="idPaciente" value=idPaciente)

    label(for="especialidadSelector") Especialidad:
    select(name="especialidadSelector" id="especialidadSelector")
      option(value="") -- Selecciona una especialidad --
      each especialidad in especialidades
        option(value=especialidad.nombre) #{especialidad.nombre}
    br

    label(for="idMedico") Médico:
    select(name="idMedico" id="idMedico" required)
      option(value="") -- Selecciona un médico --
    br

    label(for="especialidadMedico") Especialidad del Médico:
    input(type="text" id="especialidadMedico" readonly)
    br

    label(for="buscarPaciente") Buscar Paciente:
    if nombrePaciente
      input(type="text" id="buscarPaciente" name="nombrePaciente" value=nombrePaciente readonly)
      input(type="hidden" name="idPaciente" value=idPaciente)
    else
      input(type="text" id="buscarPaciente" placeholder="Ingresa nombre o DNI" autocomplete="off" required)
      input(type="hidden" name="idPaciente" id="idPaciente")

    ul#listaResultados(style="display: none;")

    label(for="diaTurno") Seleccionar fecha:
    input(type="date" id="diaTurno" name="diaTurno" required)
    br

    label(for="fechaHora") Hora:
    select(name="fechaHora" id="fechaHora" required)
      option(value="") -- Selecciona un horario --
    br

    label(for="motivoConsulta") Motivo de Consulta:
    input(type="text" name="motivoConsulta" required)
    br

    label(for="tipoTurno") Tipo de Turno:
    select(name="tipoTurno" id="tipoTurno" required)
      option(value="regular") Regular
      option(value="sobreturno") Sobreturno
    br

    button(type="submit") Crear Cita

  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
  script(src="https://cdn.jsdelivr.net/npm/flatpickr")
  script(src="/js/gestionCitasCombinado.js")
